/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background-color: #f3f1ef;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 20px;
}

.logo-box {
    width: 35px;
    height: 35px;
    background: #f97316;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    color: #555;
    font-weight: 500;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart {
    position: relative;
    font-size: 18px;
    color: #333;
}

.cart-badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background: #f97316;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

.btn-outline {
    padding: 8px 18px;
    border: 1px solid #ddd;
    background: white;
    border-radius: 8px;
    cursor: pointer;
}

.btn-primary {
    padding: 8px 18px;
    background: #f97316;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Center Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

/* Card */
.card {
    width: 420px;
    background: white;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    text-align: center;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

.subtitle {
    color: #777;
    font-size: 14px;
    margin-bottom: 25px;
}

/* Account Type Buttons */
.account-type {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.type {
    flex: 1;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    cursor: pointer;
    font-size: 13px;
}

.type.active {
    border: 1px solid  #ddd ;
     background: #f9f9f9;
}

/* Form */
.form-group {
    text-align: left;
    margin-bottom: 18px;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
}

.input-box {
    display: flex;
    align-items: center;
    margin-top: 6px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background: #f9f9f9;
}

.input-box i {
    color: #777;
    margin-right: 10px;
}

.input-box input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 14px;
}

.input-box .toggle {
    cursor: pointer;
}

/* Button */
.create-btn {
    width: 100%;
    padding: 12px;
    background: #f97316;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
}

.create-btn:hover {
    opacity: 0.9;
}

/* Login Text */
.login-text {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.login-text span {
    color: #f97316;
    font-weight: 500;
    cursor: pointer;
}